

<form class="" action="/todo" method="post">
  <h2> Create a new todo </h2>
  <input type="text" name="title" value="" placeholder="Your title goes here">
  <!-- <input type="hidden" name="_method" value="put"> -->
  <textarea name="body" cols="30" rows="10"id="" class="materialize-textarea" placeholder="Your body goes here"></textarea>
  <button type="submit" name="" class="btn">Create</button>
</form>
